.centered-buttons {
    text-align: center; /* Centra horizontalmente */
    margin-top: 50px; /* Margen superior opcional */
}

/* Estilos para los botones (opcional) */
.button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.boton-flotante {
    position: fixed; /* Fija la posición */
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px; /* Ajusta la distancia desde la derecha */
    z-index: 1000; /* Controla la superposición sobre otros elementos */
    background-color: rgba(0, 123, 255, 0.8); /* Color de fondo */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilo para los botones */
.boton-flotante button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
}
